body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 150vh;
    width: 90vw;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body div {
    flex: 1;
}

.white {
    background-color: white;
}

.navy-blue {
    background-color: #1f2937;
}

.gray {
    background-color: #e5e7eb;
}



/* First Section */

.navy-blue {
    color: #e5e7eb;
    font-size: 14px;
}

.navy-blue h1, .navy-blue h3{
    color: #f9faf8;
}

.navy-blue h1 {
    font-size: 36px;
    font-weight: bold;
}

.navy-blue h3 {
    font-size: 20px;
}
