body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 1500px;
    width: 1000px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body div {
    flex: 1;
}

.white {
    background-color: white;
}

.navy-blue {
    background-color: #1f2937;
}

.gray {
    background-color: #e5e7eb;
}



/* First Section */

.navy-blue {
    display: flex;
    color: #e5e7eb;
    font-size: 15px;
    justify-content: center;
}

.navy-blue .holder {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 750px;
}

.navy-blue h1, .navy-blue h3{
    color: #f9faf8;
}

.navy-blue h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.navy-blue h3 {
    font-size: 20px;
    margin: 0;
}

.navy-blue p {
    margin: 8px 0;
}

.navy-blue .header {
    display: flex;
    justify-content: space-between;
    flex: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.navy-blue .content {
    display: flex;
    align-items: center;
}

.navy-blue button {
    padding: 3px 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 0;
    border-radius: 4px;
}

.navy-blue .image {
    background-color: rgba(255, 255, 255, .3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navy-blue .height-align {
    display: flex;
    gap: 16px;
}



/* Second Section */

.white.one {
    color: #1f2937;
    font-size: 14px;
    display: flex;
    justify-content: center;
}

.white.one .holder {
    padding: 28px;
    max-width: 750px;
}

.white.one h2 {
    font-size: 28px;
    margin: 0;
    text-align: center;
}

.white.one .content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 28px;
    width: 625px;
}

.white.one .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 125px;
    padding: 0;
}

.white.one .box div {
    border: 4px solid #3882f6;
    border-radius: 12px;
    min-height: 125px;
    width: 125px;
}



/* Third Section */

.gray {
    color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gray p {
    font-size: 24px;
    font-style: italic;
    margin: 0;
}

.gray h3 {
    margin: 0;
    text-align: right;
}

.gray .holder {
    max-width: 600px;
}



/* Fourth Section */

.white.two {
    display: flex;
    flex-direction: column;
}

.white.two .title {
    font-weight: bold;
    font-size: 18px;
}

.white.two p {
    margin: 0;
    font-size: 12px;
}

.white.two .holder {
    min-width: 750px;
    align-self: center;
    display: flex;
    align-items: center;
}

.white.two, .white.two button {
    color: #f9faf8;
}

.white.two .content {
    background-color: #3882f6;
    display: flex;
    align-items: center;
    padding: 36px 96px;
    border-radius: 6px;
}

.white.two button {
    background-color: #3882f6;
    padding: 3px 18px;
    border: 1px solid #f9faf8;
    border-radius: 4px;
}

.white.two .footer {
    background-color: #1f2937;
    flex: none;
}

