body {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 1500px;
    width: 1000px;
    padding: 0;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

body div {
    flex: 1;
}

.white {
    background-color: white;
}

.navy-blue {
    background-color: #1f2937;
}

.gray {
    background-color: #e5e7eb;
}



/* First Section */

.navy-blue {
    display: flex;
    color: #e5e7eb;
    font-size: 15px;
    justify-content: center;
}

.navy-blue .holder {
    display: flex;
    flex-direction: column;
    padding: 16px;
    max-width: 750px;
}

.navy-blue h1, .navy-blue h3{
    color: #f9faf8;
}

.navy-blue h1 {
    font-size: 36px;
    font-weight: bold;
    margin: 0;
}

.navy-blue h3 {
    font-size: 20px;
    margin: 0;
}

.navy-blue p {
    margin: 8px 0;
}

.navy-blue .header {
    display: flex;
    justify-content: space-between;
    flex: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 16px;
}

.navy-blue .content {
    display: flex;
    align-items: center;
}

.navy-blue button {
    padding: 3px 18px;
    color: #f9faf8;
    background-color: #3882f6;
    border: 0;
    border-radius: 4px;
}

.navy-blue .image {
    background-color: rgba(255, 255, 255, .3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navy-blue .height-align {
    display: flex;
    gap: 16px;
}



/* Second Section */

.white.one {
    color: #1f2937;
    font-size: 14px;
}

.white.one h2 {
    font-size: 28px;
}
